<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/laramidia.css" />
		<title>Laramidia Storm Chasers</title>
	</head>
	<body>
        <header>
		    <p>
			    <h1>Laramidia Storm Chasers</h1>
            </p>
        </header>
        <main>
            <article>
                <p>We are a husband, wife and son team of storm chasers based in Drumheller, Alberta. Our goals are:
                    <ul>
                        <li>Forecast severe weather chase targets in southern Alberta using weather models, surface observations, satellite and outlooks from other forecasters.</li>
                        <li>Search for damage and injuries in the wake of severe weather and render aid.</li>
                        <li>Contribute to science by documenting severe weather events with videography, photography and weather sensors.</li>
                        <li>Make our data available through web apps by learning to code.</li>
                        <li>Practice html by writing a website</li>
                    </ul>
                    Here are some of our storm and tornado chases.
                </p>
            </article>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/pmuhEOgN82E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/NV_E6NecX4s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Nsh5TCcTDgU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/1zuisEGuT-c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/PyvHJsmNIew" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>bin
        </main>
	</body>
</html>